/* Mobile first */

@media (min-width: 320px) {
    body{
        background-color: #000123;
        width: 100%;
        min-width: 320px;
        max-width: 480px;
    }
    
    h2{
        color: #ff0f7b;
        font-family: 'Syne Mono', monospace;
        display: flex;
        margin-left: 1rem;
        font-size: 3rem;
    }

    h4{
        color:#ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 2rem;
        font-size: 1.5rem;

    }

    .subtitulo{
        color: #ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .button1{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        padding:5px ;
        margin-left: 3.5rem;
        font-size: 1.5rem;
 
    }

    .button2{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        padding:5px ;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .button3{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        padding:5px ;
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    main{
        display:flex;
        flex-direction: column;
    
    }

    .container2{
        display: flex;
        flex-direction: column;

        
    }

    .container1{
        display: flex;
        flex-wrap: wrap;
    }

    video::-webkit-media-controls {
        display: none;
    }

    .nav{
        width: 130%;
        margin-left: 2rem;
    }

    .game{
        width: 70%;
    }


    .muerte{
        width: 60%;
        height: auto;
        margin-top: 4rem;
    }
}


/* Movil Horizontal */

@media (min-width: 480px) and (orientation: landscape) {
    body{
        background-color: #000123;
        width: 100%;
        min-width: 480px;
        max-width: 768px;
    }
    
    h2{
        color: #ff0f7b;
        font-family: 'Syne Mono', monospace;
        display: flex;
        margin-left: 1rem;
        font-size: 3rem;
    }

    h4{
        color:#ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 2rem;
        font-size: 1.5rem;

    }

    .subtitulo{
        color: #ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .button1{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        padding:5px ;
        margin-left: 1rem;
        font-size: 1.5rem;
 
    }

    .button2{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        padding:5px ;
        font-size: 1.5rem;
    }

    .button3{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        margin-top: 1rem;
        padding:5px; 
        font-size: 1.5rem;
    }

    main{
        display:flex;
        flex-direction: column;
    }

    .container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    }

    .container1{
        display: flex;
        flex-wrap: wrap;
    }

    video::-webkit-media-controls {
        display: none;
    }

    .nav{
        width: 100%;
        margin-right: 2rem;
    
    }

    .game{
        width: 70%;
    }


    .muerte{
        width: 60%;
        height: auto;
        margin-top: 4rem;
    }
}

/* Tablet */

@media (min-width: 768px) {
    body{
        background-color: #000123;
        width: 100%;
        min-width: 768px;
        max-width: 1024px;
    }
    
    h2{
        color: #ff0f7b;
        font-family: 'Syne Mono', monospace;
        display: flex;
        margin-left: 1rem;
        font-size: 5rem; 
    }

    h4{
        color:#ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 2rem;
        font-size: 2rem;

    }

    .subtitulo{
        color: #ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 1rem;
        font-size: 2rem;

    }

    .button1{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;  
        margin-left: 1rem;
        padding: 1rem;
        font-size: 2rem;
 
    }

    .button2{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        margin: 20px;
        margin-left: 3.5rem;
        font-size: 2rem;
    }

    .button3{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 500px;
        margin: 20px;
        padding:5px; 
        margin-left: 3.5rem;
        font-size: 2rem;
    }

    main{
        display:flex;
        flex-direction: column;
    
    }

    .container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    }

    .container1{
        display: flex;
        flex-direction: column;

    }

    video::-webkit-media-controls {
        display: none;
    }

    .nav{
        width: 90%;
        margin-left: 1rem;
    }

    .game{
        width: 70%;
    }


    .muerte{
        width: 60%;
        height: auto;
        margin-top: 4rem;
    }
}


/* Tablet Horizontal */

@media (min-width: 1024px) {
    body{
        background-color: #000123;
        width: 100%;
        min-width: 1024px;
        max-width: 1200px;
    }
    
    h2{
        color: #ff0f7b;
        font-family: 'Syne Mono', monospace;
        display: flex;
        margin-left: 1rem;
        font-size: 5rem; 
    }

    h4{
        color:#ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 2rem;
        font-size: 3rem;

    }

    .subtitulo{
        color: #ffffff;
        font-family: 'Syne Mono', monospace;
        margin-left: 1rem;
        font-size: 2.5rem;

    }

    .button1{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;  
        margin-left: 1rem;
        padding: 1rem;
        font-size: 3rem;
        width: 600px;
 
    }

    .button2{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 600px;
        margin: 20px;
        margin-left: 3.5rem;
        font-size: 3rem;
    }

    .button3{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 600px;
        height: auto;
        margin: 20px;
        padding:5px; 
        margin-left: 3.5rem;
        font-size: 3rem;
    }

    main{
        display:flex;
        flex-direction: column;
    
    }

    .container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container1{
        display: flex;
        flex-direction: column;
        margin-left: 3rem;

    }

    video::-webkit-media-controls {
        display: none;
    }

    .nav{
        width: 90%;
    }

    .game{
        width: 70%;
    }


    .muerte{
        width: 60%;
        height: auto;
        margin-top: 4rem;
    }
}


/* Escritorio */

@media (min-width: 1200px) {
    body{ 
        background-color: #000123;
        width: 100%;
        min-width: 1200px;
        max-width: 1920px;
    }

    main{
        display: grid;
        grid-template-areas: "container1 container2" 
        "resultado footer";
    }

    .container1{
        grid-area: container1;
    }
    
    .container2{
        grid-area: container2;
    
    }

    .resultado{
        grid-area: resultado;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end:2 ;
    }
    
    h2{
        color: #ff0f7b;
        font-family: 'Syne Mono', monospace;
        display: flex;
        font-size: 4rem; 
    }

    h4{
        color:#ffffff;
        font-family: 'Syne Mono', monospace;
        font-size: 2rem;

    }

    .subtitulo{
        color: #ffffff;
        font-family: 'Syne Mono', monospace;
        font-size: 1.5rem;

    }

    .button1{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;  
        font-size: 2rem;
        width: 300px;
 
    }

    .button2{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 300px;
        font-size: 2rem;
        margin-top: 10rem;
    }

    .button3{
        font-family: 'Syne Mono', monospace;
        border-radius: 20px;
        background-color: #ff0f7b;
        border-color: #ff0f7b;
        color: #ffffff;
        width: 300px;
        height: auto;
        font-size: 2rem;
        text-decoration: none;
    }

    video::-webkit-media-controls {
        display: none;
    }

    .nav{
        width: 50%;
    }

    .game{
        width: 50%;
    }


    .muerte{
        width: 40%;
        height: auto;
        margin-top: 4rem;
    }

}


/************ MODAL INI **************/

.modal_container{
    display: flex;
    bottom: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  /*para que no se pueda ver*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: white;
}

.show{
    pointer-events: auto;
    opacity: 1;  /*para que se pueda ver*/
}

.modal{
    background-color: #451A73;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(252, 249, 251);
    text-align: center;
    font-size: 25px;
    font-family: 'Syne Mono', monospace;
}

.modal h2{
    margin-top:  5px;
}

.modal p{
    opacity: 0 7;
    font-size: 25px;
}

.modal button{
    font-family: 'Syne Mono', monospace;
    border-radius: 20px;
    background-color: #ff0f7b;
    border-color: #ff0f7b;
    color: #ffffff;
    width: 180px;
    font-size: 1em;
        
}

.nombre_coder{
    height: 25px;
    size: 100;
    font-size: 25px;
}

.mensaje_error{
    font-family: 'Syne Mono', monospace;
    color: #ff0f7b !important;
    
}

.lista_Coders{
    font-family: 'Syne Mono', monospace;
    justify-content: left;
    color: white;
    font-size: 2em;
    
}

#padre{
    position:relative;
    /*background-color: bisque;*/
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    /*height: 100%;
    width: 100%;*/
}
  
#hijo{
    position: absolute;
    /*background-color: violet;*/
    top: 7.5em;
    left: 10.5em;
    margin: 0;
    padding: 0;
    width: 19.7em;
    height: 25.8em;
    overflow: scroll;
    opacity: 0.5;
}

.modal_container_sacrifica{
    display: flex;
    bottom: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  /*para que no se pueda ver*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: white;
}

.show_sacrifica{
    pointer-events: auto;
    opacity: 1;  /*para que se pueda ver*/
}

.modal_sacrifica{
    background-color: #451A73;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(252, 249, 251);
    text-align: center;
    font-size: 25px;
    font-family: 'Syne Mono', monospace;
}

.modal_sacrifica h2{
    margin-top:  5px;
}

.modal_sacrifica h3{
    opacity: 0 7;
    font-size: 25px;
}

.modal_sacrifica button{
    font-family: 'Syne Mono', monospace;
    border-radius: 20px;
    background-color: #ff0f7b;
    border-color: #ff0f7b;
    color: #ffffff;
    width: 180px;
    font-size: 1em;
        
}

modal_container_sacrifica{
    display: flex;
    bottom: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  /*para que no se pueda ver*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: white;
}

.show_sacrifica{
    pointer-events: auto;
    opacity: 1;  /*para que se pueda ver*/
}

.modal_sacrifica{
    background-color: #451A73;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(252, 249, 251);
    text-align: center;
    font-size: 25px;
    font-family: 'Syne Mono', monospace;
}

.modal_sacrifica h2{
    margin-top:  5px;
}

.modal_sacrifica h3{
    opacity: 0 7;
    font-size: 25px;
}

.modal_sacrifica button{
    font-family: 'Syne Mono', monospace;
    border-radius: 20px;
    background-color: #ff0f7b;
    border-color: #ff0f7b;
    color: #ffffff;
    width: 180px;
    font-size: 1em;
        
}

.modal_container_fin{
    display: flex;
    bottom: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  /*para que no se pueda ver*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: white;
}

.show_fin{
    pointer-events: auto;
    opacity: 1;  /*para que se pueda ver*/
}

.modal_fin{
    background-color: #451A73;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(252, 249, 251);
    text-align: center;
    font-size: 25px;
    font-family: 'Syne Mono', monospace;
}

.modal_fin h2{
    margin-top:  5px;
}

.modal_fin h3{
    opacity: 0 7;
    font-size: 25px;
}

.modal_fin button{
    font-family: 'Syne Mono', monospace;
    border-radius: 20px;
    background-color: #ff0f7b;
    border-color: #ff0f7b;
    color: #ffffff;
    width: 180px;
    font-size: 1em;
        
}

/************ MODAL FIN **************/

/************ANIMACION MUERTE**************/
.slide-right {
	-webkit-animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite ;
	        animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite ;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-1 18:23:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  